<ng-container
  *ngIf="
    devices === null || !devices[0] ||
    employees === null || !employees[0] ||
    !deviceEmployeeLinks || !deviceEmployeeLinks[0]
  ">
  <mat-spinner
    color="primary"
    mode="indeterminate">
  </mat-spinner>
</ng-container>
<ng-container
  *ngIf="
    devices && devices[0] &&
    employees && employees[0] &&
    deviceEmployeeLinks
  ">
  <app-device-card
    *ngFor="let device of devices"
    [device]="device"
    [employees]="employees"
    [linkedEmployeeIds]="getLinkedEmployeeIds(device.id)"
    (deviceChanged)="onDeviceChanged($event)"
    (linkedEmployeesChanged)="onLinkedEmployeesChanged($event)">
  </app-device-card>
</ng-container>