<ng-container
  *ngIf="employees === null || !employees[0]">
  <mat-spinner
    color="primary"
    mode="indeterminate">
  </mat-spinner>
</ng-container>
<ng-container
  *ngIf="employees && employees[0]">
  <ng-container *ngFor="let employee of employees">

    <form *ngIf="employee.editing && formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-card class="card employee-card">
        <img mat-card-image [attr.src]="employee.image" [attr.alt]="'Picture of ' + employee.name">
        <mat-card-title>
          <span *ngIf="!employee.editing">{{ employee.name }}</span>
          <input type="text" *ngIf="employee.editing" formControlName="name" />
        </mat-card-title>
        <mat-card-subtitle>Email: 
          <a target="_blank" href="mailto:{{employee.emailAddress}}">{{ employee.emailAddress }}</a></mat-card-subtitle>
          <mat-card-content>
            <h3>Linked devices:</h3>
            <ul>
              <li *ngFor="let id of employee.deviceLinks">
                {{ getDeviceDetails(id) }}
              </li>
            </ul>

          </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button *ngIf="!employee.editing" (click)="toggleEditing(employee.id)" mat-button>EDIT</button>
          <button type="submit" *ngIf="employee.editing" mat-button>SAVE</button>
        </mat-card-actions>
      </mat-card>
    </form>

    <ng-container *ngIf="!employee.editing">
      <mat-card class="card employee-card">
        <img mat-card-image [attr.src]="employee.image" [attr.alt]="'Picture of ' + employee.name">
        <mat-card-title>
          <span *ngIf="!employee.editing">{{ employee.name }}</span>
          <input type="text" *ngIf="employee.editing" formControlName="name" />
        </mat-card-title>
        <mat-card-subtitle>Email:
          <a target="_blank" href="mailto:{{employee.emailAddress}}">{{ employee.emailAddress }}</a></mat-card-subtitle>
          <mat-card-content>
            <h3>Linked devices:</h3>
            <ul>
              <li *ngFor="let id of employee.deviceLinks">
                {{ getDeviceDetails(id) }}
              </li>
            </ul>
          </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button *ngIf="!employee.editing" (click)="toggleEditing(employee.id)" mat-button>EDIT</button>
          <button type="submit" *ngIf="employee.editing" mat-button>SAVE</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </ng-container>
</ng-container>