<div class="button-container">
  <button id="search-button" mat-fab color="primary">
    <mat-icon aria-hidden="false" aria-label="Search icon">search</mat-icon>
  </button>
  <label for="search-button">Search</label>
</div>

<div class="button-container">
  <a id="employees-link" mat-fab color="primary" routerLink="employees">
    <mat-icon aria-hidden="false" aria-label="Employees icon">people</mat-icon>
  </a>
  <label for="employees-link">Employees</label>
</div>
<div class="button-container">
  <a id="devices-link" mat-fab color="primary" routerLink="devices">
    <mat-icon aria-hidden="false" aria-label="Devices icon">devices</mat-icon>
  </a>
  <label for="devices-link">Devices</label>
</div>
