
<mat-card class="card employee-card">
  <form *ngIf="formGroup && employeeDeviceList" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <img mat-card-image [attr.src]="employee.image" [attr.alt]="'Picture of ' + employee.name">
    <mat-form-field class="form-field" appearance="outline">
      <input matInput formControlName="name" required>
      <mat-error *ngIf="formGroup.controls['name'].touched && formGroup.controls['name'].invalid">
        <span *ngIf="formGroup.controls['name'].hasError('required')">Please provide a name.</span>
      </mat-error>
    </mat-form-field>
    <mat-card-subtitle>
      <mat-form-field class="form-field" appearance="outline">
        <input matInput formControlName="emailAddress" required>
        <mat-error *ngIf="formGroup.controls['emailAddress'].touched && formGroup.controls['emailAddress'].invalid">
          <span *ngIf="formGroup.controls['emailAddress'].hasError('required')">Please provide an email address.</span>
          <span *ngIf="formGroup.controls['emailAddress'].hasError('email')">That doesn't look like a valid email address.</span>
        </mat-error>
      </mat-form-field>
    </mat-card-subtitle>
    <mat-card-content>
      <h3>Linked devices:</h3>
      <mat-form-field class="form-field" appearance="outline">
        <mat-select formControlName="linkedDevices" multiple>
          <mat-option
            *ngFor="let device of employeeDeviceList"
            [value]="device.id">
            {{ device.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- {{ formGroup.value | json }} -->
      <mat-select></mat-select>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button type="submit" mat-button>SAVE</button>
    </mat-card-actions>
  </form>

  <ng-container *ngIf="!formGroup || !employeeDeviceList">
    <img mat-card-image [attr.src]="employee.image" [attr.alt]="'Picture of ' + employee.name">
    <mat-card-title>
      <span >{{ employee.name }}</span>
    </mat-card-title>
    <mat-card-subtitle>Email:
      <a target="_blank" href="mailto:{{employee.emailAddress}}">{{ employee.emailAddress }}</a></mat-card-subtitle>
      <mat-card-content>
        <h3>Linked devices:</h3>
        <ul>
          <ng-container *ngFor="let device of employeeDeviceList">
            <li *ngIf="device.linked">
              Device #{{device.id}} — {{device.name}}
            </li>
          </ng-container>
        </ul>
      </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button [attr.id]="'edit-employee-' + employee.id" (click)="editEmployee()" mat-button>EDIT</button>
    </mat-card-actions>
  </ng-container>
</mat-card>